<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>E-mail Client Template | PrepBootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-client_id" content="962501887177-8tt1cmqvflj29rjjed9n9uhihe8pir9a.apps.googleusercontent.com">

    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>E-mail Client <small>A responsive e-mail client layout</small></h1>
</div>


<div class="g-signin2" data-onsuccess="onSignIn"></div>
<script src="https://apis.google.com/js/platform.js" async defer></script>

</div>

</body>
</html>